body {
    font-family: 'Open Sans' , sans-serif;
    background-color: rgb(87, 37, 78);
}
#container {
    width: 1000px;
    height: 550px;
    background-image: url("chalk.webp");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px auto;

}
#calculator {
    width: 320px;
    height: 520px;
    background-color:coral(204, 14%, 93%);
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

}
#keyboard{
    height: 480px;
}
.operator,
.number,
.empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px
}
.number,
.empty {
    background-color: hotpink;
}
.number,
.operator {
    cursor: pointer;
}
.operator:active,
.number:active{
    font-size: 13px;
}